.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 75px;
  top: 0;
  bottom: 0;
  margin: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 4rem;
  font-weight: 300;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 3rem;
  }
}
